{{ define "main" }}

<div class="program-list lg:max-w-screen-xl m-auto text-2xl border-black border-2 p-4 my-8">
  <div class="lg:px2 my-5 text-lg overflow-x-auto">
    <!-- <h1 class="text-xl mb-10"> 프로그램 </h1> -->
    <a name="schedule"></a>
    <p class="text-lg" style="font-family: Spoqa Han Sans, sans-serif; font-weight: 500;">
      제로의 예술은 <strong>2020년10월 부터 2021년 5월까지 8개월간</strong>에 걸쳐 이하의 프로그램을 엽니다.
    </p>

    <!-- mobile program table -->
    <table class="lg:hidden w-full lg:table-auto border-gray-800 border-b text-base">
      <!-- <thead>
           <th class="px-2 py-2 font-normal text-left" colspan="5">
           제로의 예술은 <span class="font-semibold">2020년 10월 부터 2021년 5월까지 8개월간</span>에 걸쳐 이하의 프로그램을 엽니다.
           </th>
           </thead> -->
      <tbody>
        <tr class="border-gray-800 border-t">
          <td class="lg:w-1/5 px-2 py-2 font-semibold" rowspan="2"><a href="/program/2/"><span>모든 몸을 위한 발레</span></a></td>
          <td class="lg:w-1/12 px-2 py-2">2020. 10 - 12</td>
          <td class="lg:w-1/6 px-2 py-2">광주/서울</td>
          <td class="lg:w-1/6 px-2 py-2">윤상은</td>
        </tr>
        <tr class="border-gray-800 border-t">
          <td class="px-2 py-2" colspan="3">
            중년-노년 여성들과 함께하는 감각을 일깨우는 움직임 워크숍
            <a href="/archive/2">
              <button class="text-xs bg-black text-white border border-black rounded-full ml-2 p-1 over:bg-gray-10 over:text-black">아카이브</button>
            </a>
          </td>
        </tr>

        <tr class="border-gray-800 border-t">
          <td class="px-2 py-2 font-semibold" rowspan="2"><a href="/program/1/"><span>자기기록: 듣기와 쓰기</span></a></td>
          <td class="px-2 py-2">2020. 11 - 12</td>
          <td class="px-2 py-2">광주/서울</td>
          <td class="px-2 py-2">김지연</td>
        </tr>

        <tr class="border-gray-800 border-t">
          <td class="px-2 py-2" colspan="3">
            중년-노년 여성들과 함께하는 일상을 기록하는 사운드 워크숍
            <a href="/archive/1">
              <button class="text-xs bg-black text-white border border-black rounded-full ml-2 p-1 over:bg-gray-10 over:text-black">아카이브</button>
            </a>
          </td>
        </tr>

        <tr class="border-gray-800 border-t">
          <td class="px-2 py-2 font-semibold" rowspan="2"><a href="/program/3/"><span>예술육아소셜클럽</span></a></td>
          <td class="px-2 py-2 lg:leading-8">2020. 10 - <br/> 2021. 3 </td>
          <td class="px-2 py-2">서울</td>
          <td class="px-2 py-2">김다은, 이경희</td>
        </tr>

        <tr class="border-gray-800 border-t">
          <td class="px2 py-2" colspan="3">
            육아로 인한 작업의 머뭇거림에 북돋음과 용기를 제안하는 워크숍
            <a href="/archive/3">
              <button class="text-xs bg-black text-white border border-black rounded-full ml-2 p-1 over:bg-gray-10 over:text-black">아카이브</button>
            </a>

          </td>
        </tr>

        <tr class="border-gray-800 border-t">
          <td class="px-2 py-2 font-semibold" rowspan="2"><a href="/program/4/"><span>퀴어-되기</span></a></td>
          <td class="px-2 py-2">2020. 11 - 12 </td>
          <td class="px-2 py-2">광주</td>
          <td class="px-2 py-2">전국퀴어모여라</td>
        </tr>

        <tr class="border-gray-800 border-t">
          <td class="px-2 py-2" colspan="3">
            지역 퀴어들의 삶을 어떻게 기록할 것인지 생각해 보는 워크숍
            <a href="/archive/4">
              <button class="text-xs bg-black text-white border border-black rounded-full ml-2 p-1 over:bg-gray-10 over:text-black">아카이브</button>
          </td>
        </tr>

        <tr class="border-gray-800 border-t">
          <td class="px-2 py-2 font-semibold" rowspan="2"><a href="/program/5/"><span>섬:시티</span></a></td>
          <td class="px-2 py-2">2021. 2 - 3 </td>
          <td class="px-2 py-2">온라인</td>
          <td class="px-2 py-2">강주현, 강현석
            <a href="/archive/5">
              <button class="text-xs bg-black text-white border border-black rounded-full ml-2 p-1 over:bg-gray-10 over:text-black">아카이브</button>
            </a>
          </td>
        </tr>

        <tr class="border-gray-800 border-t">
          <td class="px-2 py-2" colspan="3">
            기후변화와 지속가능성에 관한 건축 시나리오 워크숍
          </td>
        </tr>

        <tr class="border-gray-800 border-t">
          <td class="px-2 py-2 font-semibold" rowspan="2"><a href="/program/6/"><span>10대 기술 말하기</span></a></td>
          <td class="px-2 py-2">2021. 1 - 2 </td>
          <td class="px-2 py-2">광주/서울/온라인</td>
          <td class="px-2 py-2">고아침, 곽소아, 송수연, 최빛나, 최승준</td>
        </tr>

        <tr class="border-gray-800 border-t">
          <td class="px-2 py-2" colspan="3">
            기술과 사회에 대해 주체적인 사고를 하고 싶은 10대와 함께 하는 워크숍
            <a href="/archive/6">
              <button class="text-xs bg-black text-white border border-black rounded-full ml-2 p-1 over:bg-gray-10 over:text-black">아카이브</button>
            </a>
          </td>
        </tr>
        <tr class="border-gray-800 border-t">
          <td class="px-2 py-2 font-semibold" rowspan="2"><a href="/program/7/">우리는 오늘도 내일을 끌어쓴다</a></td>
          <td class="px-2 py-2">2021. 4</td>
          <td class="px-2 py-2">광주/서울/온라인</td>
          <td class="px-2 py-2">홍은전, 채효정, 최명애, 강주현-강현석, 지구를위한디자인, 전의령, 이라영, 황윤</td>
        </tr>

        <tr class="border-gray-800 border-t">
          <td class="px-2 py-2" colspan="3">
            비거니즘, 동물권, 생태, 기후위기와 관련된 릴레이 강연 프로그램
            <a href="/archive/7">
              <button class="text-xs bg-black text-white border border-black rounded-full ml-2 p-1 over:bg-gray-10 over:text-black">아카이브</button>
            </a>
          </td>
        </tr>
        <tr class="border-gray-800 border-t">
          <td class="px-2 py-2 font-semibold" rowspan="2"><a href="/program/8/">박물관 미술관 동물원</a></td>
          <td class="px-2 py-2"> 2021. 5</td>
          <td class="px-2 py-2">온라인</td>
          <td class="px-2 py-2">박소현, 손희정, 남선우</td>
        </tr>

        <tr class="border-gray-800 border-t">
          <td class="px-2 py-2" colspan="3">
            인간이 만들어 온 ‘전시'의 역사를 돌아보며 창작, 전시, 보관, 소장 등 미술관의 근본적인 프로세스에 대해 질문하는 강연 프로그램
            <a href="/archive/8">
              <button class="text-xs bg-black text-white border border-black rounded-full ml-2 p-1 over:bg-gray-10 over:text-black">아카이브</button>
            </a>
          </td>
        </tr>
        <tr class="border-gray-800 border-t">
          <td class="px-2 py-2 font-semibold" rowspan="2"><a href="/program/9/">무엇을 무엇으로 만들까</a></td>
          <td class="px-2 py-2"> 2021. 5</td>
          <td class="px-2 py-2">광주/서울</td>
          <td class="px-2 py-2">권나미, 낫아워스, 어라우드랩, swh/선우, 고재욱, 김민아</td>
        </tr>

        <tr class="border-gray-800 border-t">
          <td class="px-2 py-2" colspan="3">
            기후위기 시대의 시각으로 예술 재료에 대해 연구하는 강의 및 워크숍 프로그램
            <a href="/archive/9">
              <button class="text-xs bg-black text-white border border-black rounded-full ml-2 p-1 over:bg-gray-10 over:text-black">아카이브</button>
            </a>
          </td>
        </tr >

        <tr class="border-gray-800 border-t">
          <td class="px-2 py-2 font-semibold" rowspan="2"><a href="/program/10/">제로의 예술 페스티벌</a></td>
          <td class="px-2 py-2"> 2021. 8</td>
          <td class="px-2 py-2">광주/서울/온라인</td>
          <td class="px-2 py-2"></td>
        </tr>

        <tr class="border-gray-800 border-t">
          <td class="px-2 py-2" colspan="3">
            <!-- <제로의 예술>의 모든 프로그램을 돌아보고, 워크숍과 강의에 참여했던 분들의 결과물이나 발전된 아이디어는 물론, 아티스트, 건축가, 디자이너, 활동가, 전문가들과 함께 다같이 이야기를 나눌 수 있는 공공예술 페스티벌 -->
          </td>
        </tr >

      </tbody>
    </table>

    <!-- desktop program table -->
    <table id="lg-program" class="hidden lg:block table-fixed border-gray-800 border-b text-base">
      <!-- <thead>
           <th class="border-gray-800 border-t px-4 py-2 font-normal text-left" colspan="5">
           제로의 예술은 <span class="font-semibold">2020년 10월 부터 2021년 5월까지 8개월간</span>에 걸쳐 이하의 프로그램을 엽니다.
           </th>
           </thead> -->
      <tbody>
        <tr class="border-gray-800 border-t">
          <td class="lg:w-1/6 py-2 font-semibold"><a href="/program/2/"><span>모든 몸을 위한 발레</span></a></td>
          <td class="lg:w-32 px-2 py-2">2020. 10 - 12</td>
          <td class="lg:w-36 px-2 py-2">광주/서울</td>
          <td class="lg:w-1/6 px-2 py-2">윤상은</td>
          <td class="px-2 py-2">
            중년-노년 여성들과 함께하는 감각을 일깨우는 움직임 워크숍
            <a href="/archive/2">
              <button class="text-xs bg-black text-white border border-black rounded-full ml-2 p-1 over:bg-gray-10 over:text-black">아카이브</button>
            </a>
          </td>
        </tr>
        <tr class="border-gray-800 border-t">
          <td class="py-2 font-semibold"><a href="/program/1/"><span>자기기록: 듣기와 쓰기</span></a></td>
          <td class="px-2 py-2">2020. 11 - 12</td>
          <td class="px-2 py-2">광주/서울</td>
          <td class="px-2 py-2">김지연</td>
          <td class="px-2 py-2">
            중년-노년 여성들과 함께하는 일상을 기록하는 사운드 워크숍
            <a href="/archive/1">
              <button class="text-xs bg-black text-white border border-black rounded-full ml-2 p-1 over:bg-gray-10 over:text-black">아카이브</button>
            </a>
          </td>
        </tr>
        <tr class="border-gray-800 border-t">
          <td class="py-2 font-semibold"><a href="/program/3/"><span>예술육아소셜클럽</span></a></td>
          <td class="px-2 py-2 lg:leading-8">2020. 10 - <br/> 2021. 3 </td>
          <td class="px-2 py-2">서울</td>
          <td class="px-2 py-2">김다은, 이경희</td>
          <td class="px-2 py-2">
            육아로 인한 작업의 머뭇거림에 북돋음과 용기를 제안하는 워크숍
            <a href="/archive/3">
              <button class="text-xs bg-black text-white border border-black rounded-full ml-2 p-1 over:bg-gray-10 over:text-black">아카이브</button>
            </a>
          </td>
        </tr>
        <tr class="border-gray-800 border-t">
          <td class="py-2 font-semibold"><a href="/program/4/"><span>퀴어-되기</span></a></td>
          <td class="px-2 py-2">2020. 11 - 12 </td>
          <td class="px-2 py-2">광주</td>
          <td class="px-2 py-2">전국퀴어모여라</td>
          <td class="px-2 py-2">
            지역 퀴어들의 삶을 어떻게 기록할 것인지 생각해 보는 워크숍
            <a href="/archive/4">
              <button class="text-xs bg-black text-white border border-black rounded-full ml-2 p-1 over:bg-gray-10 over:text-black">아카이브</button>
          </td>
        </tr>
        <tr class="border-gray-800 border-t">
          <td class="py-2 font-semibold"><a href="/program/5/"><span>섬:시티</span></a></td>
          <td class="px-2 py-2">2021. 2 - 3 </td>
          <td class="px-2 py-2">온라인</td>
          <td class="px-2 py-2">강주현, 강현석</td>
          <td class="px-2 py-2">
            기후변화와 지속가능성에 관한 건축 시나리오 워크숍
            <a href="/archive/5">
              <button class="text-xs bg-black text-white border border-black rounded-full ml-2 p-1 over:bg-gray-10 over:text-black">아카이브</button>
            </a>
          </td>
        </tr>
        <tr class="border-gray-800 border-t">
          <td class="py-2 font-semibold"><a href="/program/6/"><span>10대 기술 말하기</span></a></td>
          <td class="px-2 py-2">2021. 1 - 2 </td>
          <td class="px-2 py-2">광주/서울/온라인</td>
          <td class="px-2 py-2">고아침, 곽소아, 송수연, 최빛나, 최승준</td>
          <td class="px-2 py-2">
            기술과 사회에 대해 주체적인 사고를 하고 싶은 10대와 함께 하는 워크숍
            <a href="/archive/6">
              <button class="text-xs bg-black text-white border border-black rounded-full ml-2 p-1 over:bg-gray-10 over:text-black">아카이브</button>
            </a>
          </td>
        </tr>
        <tr class="border-gray-800 border-t">
          <td class="py-2 font-semibold"><a href="/program/7/">우리는 오늘도 내일을 끌어쓴다</a></td>
          <td class="px-2 py-2">2021. 4</td>
          <td class="px-2 py-2">광주/서울/온라인</td>
          <td class="px-2 py-2">홍은전, 채효정, 최명애, 강주현-강현석, 지구를위한디자인, 전의령, 이라영, 황윤</td>
          <td class="px-2 py-2">
            비거니즘, 동물권, 생태, 기후위기와 관련된 릴레이 강연 프로그램
            <a href="/archive/7">
              <button class="text-xs bg-black text-white border border-black rounded-full ml-2 p-1 over:bg-gray-10 over:text-black">아카이브</button>
            </a>
          </td>
          </td>
        </tr>
        <tr class="border-gray-800 border-t">
          <td class="py-2 font-semibold"><a href="/program/8/">박물관 미술관 동물원</a></td>
          <td class="px-2 py-2"> 2021. 5</td>
          <td class="px-2 py-2">온라인</td>
          <td class="px-2 py-2">박소현, 손희정, 남선우</td>
          <td class="px-2 py-2">
            인간이 만들어 온 ‘전시'의 역사를 돌아보며 창작, 전시, 보관, 소장 등 미술관의 근본적인 프로세스에 대해 질문하는 강연 프로그램
            <a href="/archive/8">
              <button class="text-xs bg-black text-white border border-black rounded-full ml-2 p-1 over:bg-gray-10 over:text-black">아카이브</button>
            </a>
          </td>
        </tr>
        <tr class="border-gray-800 border-t">
          <td class="py-2 font-semibold"><a href="/program/9/">무엇을 무엇으로 만들까</a></td>
          <td class="px-2 py-2"> 2021. 5</td>
          <td class="px-2 py-2">광주/서울</td>
          <td class="px-2 py-2">권나미, 낫아워스, 어라우드랩, swh/선우, 고재욱, 김민아</td>
          <td class="px-2 py-2">
            기후위기 시대의 시각으로 예술 재료에 대해 연구하는 강의 및 워크숍 프로그램
            <a href="/archive/9">
              <button class="text-xs bg-black text-white border border-black rounded-full ml-2 p-1 over:bg-gray-10 over:text-black">아카이브</button>
            </a>
          </td>
        </tr >
        <tr class="border-gray-800 border-t">
          <td class="py-2 font-semibold"><a href="/program/10/">제로의 예술 페스티벌</a></td>
          <td class="px-2 py-2"> 2021. 8</td>
          <td class="px-2 py-2">광주/서울/온라인</td>
          <td class="px-2 py-2"></td>
          <td class="px-2 py-2">
            <!-- <제로의 예술>의 모든 프로그램을 돌아보고, 워크숍과 강의에 참여했던 분들의 결과물이나 발전된 아이디어는 물론, 아티스트, 건축가, 디자이너, 활동가, 전문가들과 함께 다같이 이야기를 나눌 수 있는 공공예술 페스티벌 -->
          </td>
        </tr >
      </tbody>
    </table>


    <ul class="px2 mt-5 mb-5">
      <li class="">
        * 신종 코로나 바이러스 감염증 우려로 인한 사회적 거리두기가 강화될 경우, 일부 프로그램은 온라인으로 전환되거나 일정, 장소가 변경될 수 있습니다.
      </li>
      <li class="" >
        * 프로그램의 과정과 결과는 사전협의를 거쳐 온라인이나 차후 발간될 책자에 공개 예정이며, 영상/사진으로 기록됩니다.
      </li>
    </ul>
    <!-- <p class="px-2" style="font-family: Spoqa Han Sans, sans-serif; font-weight: 500;">
         장소: <a href="https://barimart.wordpress.com/">바림</a> (광주광역시 동구 대의동 80-2 3층), <a href="http://womanopentechlab.kr/">여성을 위한 열린 기술랩</a> (서울시 중구 을지로 157 대림상가 세운메이커스큐브 동측 306호) 등. 프로그램에 따라 상이함.
         </p> -->
    <p class="px-2 font-jejumyeongjo text-xl leading-10">
      그리고 2021년 8월, <strong class="font-jejumyeongjo">제로의 예술 페스티벌</strong>이 열립니다. 광주 혹은 서울, 온라인 혹은 오프라인에서 열리며, 누구에게나 열려있습니다. 워크숍과 강의에 참여했던 분들의 결과물이나 발전된 아이디어는 물론, 아티스트, 건축가, 디자이너, 활동가, 전문가들과 함께 다같이 이야기를 나눌 수 있는 공공예술 페스티벌입니다.
    </p>
  </div>
</div>

{{ end }}
