{{ define "main" }}

    <div class="program-flyer max-w-screen-xl m-auto border-black border-2 p-6 my-8">
      <h1 class="font-bold text-2xl">
        {{ with .Title }}{{ . | safeHTML }}{{ end }}
      </h1>

      <!-- <span class="rounded-full py-1 px-2 border-gray-800 border text-xs">태그</span>  <span class="rounded-full py-1 px-2 border-gray-800 border text-xs">태그2</span> -->

      <!-- <img class="lg:w-1/2 p-4 m-auto" src="{{ .Params.banner }}"> -->

      <div class="m-2 text-lg leading-10">
        <!-- {{ .Content }} -->
        {{ .Content | safeHTML }}
      </div>

    </div>
{{ end }}
