{{ define "main" }}

<div class="lg:flex lg:h-64">

  <div class="lg:w-2/5 pb-4 lg:pb-0 border-black border-b-2  lg:border-black lg:border-r-2 hover:bg-gray-100" onclick="location.href='/program/2';">
    <div class="h-40 pt-6">
      <canvas id="wave_program_2" width="600" height="80"></canvas>
    </div>
    <!-- <div class="h-40 pt-20">
         <hr/>
         </div> -->
    <!-- <div class="text-left ml-10 m-auto"> -->
    <div class="text-left ml-10 lg:ml-20 m-auto">
      <div class="font-semibold mb-1">
        <a href="/program/2">
          모든 몸을 위한 발레
        </a>
      </div>
      <span class="rounded-full py-1 px-2 border-gray-800 border text-xs">2020. 10 - 12</span>
      <span class="rounded-full py-1 px-2 border-gray-800 border text-xs">광주/서울</span>
      <span class="rounded-full py-1 px-2 bg-black text-white border-gray-800 border text-xs">모집중</span>
    </div>
  </div>

  <div class="lg:w-1/5 pb-4 lg:pb-0 border-black border-b-2 lg:border-black lg:border-r-2 hover:bg-gray-100"  onclick="location.href='/program/1';">
    <!-- <div class="h-40 pt-6 bg-contain bg-repeat-x" style="background-image: url(/images/wave_active_2.png)"> -->
    <!-- <div class="h-40 pt-6">
         <canvas id="wave_program_1" width="600" height="80"></canvas>
         </div> -->
    <div class="h-40 pt-20">
      <hr/>
    </div>
    <div class="text-left ml-10 m-auto">
        <div class="font-semibold mb-1">
          <a href="/program/1">
            자기기록: 듣기와 쓰기
          </a>
      </div>
      <span class="rounded-full py-1 px-2 border-gray-800 border text-xs">2020. 11 - 12</span>
      <span class="rounded-full py-1 px-2 border-gray-800 border text-xs">광주/서울</span>
      </div>
  </div>

  <div class="lg:w-2/5 pb-4 lg:pb-0 border-black border-b-2 hover:bg-gray-100"  onclick="location.href='/program/3';">
  <!-- <div class="h-40 pt-8 bg-center bg-repeat-x" style="background-image: url(/images/wave_active_1.png)"> </div> -->
  <!-- <span class="mt-2 ml-2 rounded-full py-1 px-2 bg-black text-white border-gray-800 border text-xs" style="float:left;clear:both; overflow:auto;">모집중</span> -->
  <div class="h-40 pt-10">
    <canvas id="wave_program_3" width="600" height="80"></canvas>
  </div>
  <!-- <div class="h-40 pt-20">
       <hr/>
       </div> -->
    <div class="text-left ml-10 m-auto">
      <div class="font-semibold mb-1">
        <a href="/program/3">
          예술육아소셜클럽
        </a>
      </div>
      <span class="rounded-full py-1 px-2 border-gray-800 border text-xs">2020. 10 - 2021. 3</span>
      <span class="rounded-full py-1 px-2 border-gray-800 border text-xs">서울</span>
      <span class="rounded-full py-1 px-2 bg-black text-white border-gray-800 border text-xs">신청마감</span>
    </div>
</div>

</div>

<div class="lg:flex lg:h-64">
  <div class="lg:w-3/12 pb-4 lg:pb-0 border-black border-b-2 lg:border-black lg:border-r-2  hover:bg-gray-100"  onclick="location.href='/program/4';">
    <div class="h-32 pt-20">
      <hr/>
    </div>
    <div class="text-left mt-8 ml-10 lg:ml-20 m-auto">
      <div class="font-semibold mb-1">
        <a href="/program/4">
          퀴어-되기
        </a>
      </div>
      <span class="rounded-full py-1 px-2 border-gray-800 border text-xs">2020. 11 - 12</span>
      <span class="rounded-full py-1 px-2 border-gray-800 border text-xs">광주</span>
    </div>
  </div>

  <div class="lg:w-3/12 pb-4 lg:pb-0 border-black border-b-2 lg:border-black lg:border-r-2  hover:bg-gray-100"  onclick="location.href='/program/6';">
    <div class="h-32 pt-20">
      <hr/>
    </div>
    <div class="text-left mt-8 ml-10 m-auto">
      <div class="font-semibold mb-1">
        <a href="/program/6">
          10대 기술 말하기
        </a>
      </div>
      <span class="rounded-full py-1 px-2 border-gray-800 border text-xs">2021. 1 - 3</span>
      <span class="rounded-full py-1 px-2 border-gray-800 border text-xs">광주/서울/온라인</span>
    </div>
  </div>

  <div class="lg:w-3/12 pb-4 lg:pb-0 border-black border-b-2 lg:border-black lg:border-r-2  hover:bg-gray-100"  onclick="location.href='/program/5';">
    <div class="h-32 pt-20">
      <hr/>
    </div>
    <div class="text-left mt-8 ml-10 m-auto">
      <div class="font-semibold mb-1">
        <a href="/program/5">
          섬: 시티
        </a>
      </div>
      <span class="rounded-full py-1 px-2 border-gray-800 border text-xs">2021. 1 - 3</span>
      <span class="rounded-full py-1 px-2 border-gray-800 border text-xs">온라인</span>
    </div>
  </div>

  <div class="lg:w-3/12 pb-4 lg:pb-0 border-black border-b-2  hover:bg-gray-100" onclick="location.href='/program/7';">
    <div class="h-32 pt-20">
      <hr/>
    </div>
    <div class="text-left mt-8 ml-10 m-auto">
      <div class="font-semibold mb-1">
        <a href="/program/7">
          우리는 오늘도 내일을 끌어 쓴다
        </a>
      </div>
      <span class="rounded-full py-1 px-2 border-gray-800 border text-xs">2021. 4</span>
      <span class="rounded-full py-1 px-2 border-gray-800 border text-xs">광주/서울/온라인</span>
    </div>
  </div>
</div>

<div class="lg:flex lg:h-64">
  <div class="lg:w-4/12 pb-4 lg:pb-0 border-black lg:border-r-2 border-b-2 lg:border-b-0  hover:bg-gray-100"  onclick="location.href='/program/8';">
    <div class="h-32 pt-20">
      <hr/>
    </div>
    <div class="text-left mt-8 ml-10 lg:ml-20 m-auto">
      <div class="font-semibold mb-1">
        <a href="/program/8">
          박물관 미술관 동물원
        </a>
      </div>
      <span class="rounded-full py-1 px-2 border-gray-800 border text-xs">2021. 5</span>
      <span class="rounded-full py-1 px-2 border-gray-800 border text-xs">광주/서울/온라인</span>
    </div>
  </div>

  <div class="lg:w-4/12 pb-4 lg:pb-0 border-black lg:border-r-2 border-b-2 lg:border-b-0  hover:bg-gray-100"  onclick="location.href='/program/9';">
    <div class="h-32 pt-20">
      <hr/>
    </div>
    <div class="text-left mt-8 ml-10 m-auto">
      <div class="font-semibold mb-1">
        <a href="/program/9">
          무엇을 무엇으로 만들까
        </a>
      </div>
      <span class="rounded-full py-1 px-2 border-gray-800 border text-xs">2021. 5</span>
      <span class="rounded-full py-1 px-2 border-gray-800 border text-xs">광주/서울</span>
    </div>
  </div>

  <div class="lg:w-4/12 pb-4 lg:pb-0  hover:bg-gray-100"  onclick="location.href='/program/10';">
    <div class="h-32 pt-20">
      <hr/>
    </div>
    <div class="text-left mt-8 ml-10 m-auto">
      <div class="font-semibold mb-1">
        <a href="/program/10">
          제로의 예술 페스티벌
        </a>
      </div>
      <span class="rounded-full py-1 px-2 border-gray-800 border text-xs">2021. 8</span>
      <span class="rounded-full py-1 px-2 border-gray-800 border text-xs">광주/서울/온라인</span>
    </div>
  </div>
</div>

<script type="text/javascript">
 function plotRandom(ctx, xOffset, yOffset) {
   var width = ctx.canvas.width;
   var height = ctx.canvas.height;
   var scale = 20;

   ctx.beginPath();
   ctx.lineWidth = 2;
   ctx.strokeStyle = "rgb(255,0,255)";

   var x = 4;
   var y = 0;
   var amplitude = 40;
   var frequency = 20;
   //ctx.moveTo(x, y);
   //ctx.moveTo(x, 50);
   while (x < width) {
     y = height/2 + amplitude * ((Math.random()-0.5) * 3.14)
     ctx.lineTo(x, y);
     /* x++; */
     x = x+8;
   }
   ctx.stroke();
   ctx.save();
 }

 function plotSine(ctx, xOffset, yOffset) {
   var width = ctx.canvas.width;
   var height = ctx.canvas.height;
   var scale = 20;

   ctx.beginPath();
   ctx.lineWidth = 4;
   ctx.strokeStyle = "rgb(255,0,255)";

   var x = 4;
   var y = 0;
   var amplitude = 40;
   var frequency = 20;
   while (x < width) {
     y = height/2 + amplitude * Math.sin((x+xOffset)/frequency);
     ctx.lineTo(x, y);
     x++;
     // console.log("x="+x+" y="+y);
   }
   ctx.stroke();
   ctx.save();
 }

 function rainbow(value, s, l, max, min, start, end) {
   value = ((value - min) * (start - end) / max)+end;
   console.log(value);
   return 'hsl(' + value + ','+s+'%,'+l+'%)';
 }

 function plotSawtooth(ctx, xOffset, yOffset) {
   var width = ctx.canvas.width;
   var height = ctx.canvas.height;
   var scale = 20;

   ctx.beginPath();
   ctx.lineWidth = 4;
   ctx.strokeStyle = "rgb(255,0,255)";
   /* var start = 260;
    * var end = 360;
    * ctx.strokeStyle = rainbow(Math.abs(xOffset/10), 100, 50, Math.max(start,end), Math.min(start,end), start, end); */
   var x = 4;
   var y = 0;
   while (x < width) {
     y = (x+xOffset) % 100;
     ctx.lineTo(x, y);
     x++;
   }
   ctx.stroke();
   ctx.save();
 }


 function plotFourierSeries(ctx, xOffset, yOffset) {
   var width = ctx.canvas.width;
   var height = ctx.canvas.height;
   var scale = 20;

   ctx.beginPath();
   ctx.lineWidth = 4;
   ctx.strokeStyle = "rgb(255,0,255)";

   var x = 4;
   var y = 0;
   var amplitude = 40;
   var frequency = 20;
   //ctx.moveTo(x, y);
   //ctx.moveTo(x, 50);
   var f = 1;
   while (x < width) {
     for(var k = 1; k <= 10; k+=2) {
       y += 4/(Math.PI*k) * Math.sin(2*Math.PI*k*f*t);
     }
     /* y = height/2 + amplitude * Math.sin((x+xOffset)/frequency); */
     ctx.lineTo(x, y);
     x++;
     // console.log("x="+x+" y="+y);
   }
   ctx.stroke();
   ctx.save();
 }

 function drawRandom() {
   var canvas = document.getElementById("wave_program_1");
   var context = canvas.getContext("2d");

   setTimeout(function() {
     context.clearRect(0, 0, canvas.width, canvas.height);
     context.save();

     plotRandom(context, step, 50);
     context.restore();

     step += 4;

     window.requestAnimationFrame(drawRandom);
   }, 1000 / 10);
 }

 function drawSineWave() {
   var canvas = document.getElementById("wave_program_2");
   var context = canvas.getContext("2d");

   setTimeout(function() {
     context.clearRect(0, 0, canvas.width, canvas.height);
     context.save();

     plotSine(context, step, 50);
     context.restore();

     step += 4;

     window.requestAnimationFrame(drawSineWave);
   }, 1000 / 30);
 }

 function drawSawtooth() {
   var canvas = document.getElementById("wave_program_3");
   var context = canvas.getContext("2d");

   setTimeout(function() {
     context.clearRect(0, 0, canvas.width, canvas.height);
     context.save();

     plotSawtooth(context, step, 50);
     context.restore();

     step += 1;

     window.requestAnimationFrame(drawSawtooth);
   }, 1000 / 30);
 }

 function drawFourierSeries() {
   var canvas = document.getElementById("wave_program_1");
   var context = canvas.getContext("2d");

   setTimeout(function() {
     context.clearRect(0, 0, canvas.width, canvas.height);
     context.save();

     plotFourierSeries(context, step, 50);
     context.restore();

     step += 4;

     window.requestAnimationFrame(drawRandom);
   }, 1000 / 30);
 }

 function init() {
   window.requestAnimationFrame(drawSineWave);
   /* window.requestAnimationFrame(drawRandom); */
   window.requestAnimationFrame(drawSawtooth);
 }
 var step = -4;

 init();

 function fitToContainer(_canvas){
   // Make it visually fill the positioned parent
   _canvas.style.width ='100%';
   _canvas.style.height='100%';
   // ...then set the internal size to match
   _canvas.width  = _canvas.offsetWidth;
   _canvas.height = _canvas.offsetHeight;
 }

 var program_3_canvas = document.getElementById('wave_program_3');
 fitToContainer(program_3_canvas);

 var program_2_canvas = document.getElementById('wave_program_2');
 fitToContainer(program_2_canvas);

 /* var program_1_canvas = document.getElementById('wave_program_1');
  * console.log(program_1_canvas.width);
  * fitToContainer(program_1_canvas); */

</script>
{{ end }}
